.calendarPageBox
    position: relative

    .selectArea
        position: relative
        padding: 150px 80px 200px 200px
        margin-left: -260px
        width: calc(125% - 150px)
        color: #FFF
        max-height: 100vh
        
        header
            +size(100%, 32px)
            display: flex
            margin-bottom: 1px
            justify-content: center
            background: rgba(#000, 0.8)

            .datePicker_year, .datePicker_month
                position: relative
                display: flex
                justify-content: center
                align-items: center
                +size(180px, 100%)
                line-height: 40px

                p
                    +size(70px, 25px)
                    line-height: 25px
                    text-align: center
                    border-radius: 100px
                    transition: 0.3s
                    cursor: pointer
                    user-select: none

                    &:hover
                        background: rgba(#FFF, 0.3)
                    &:active
                        transition: 0s
                        background: rgba(#FFF, 0.5)

                
                .prev, .next
                    display: flex
                    position: absolute
                    +size(30px, 30px)
                    top: 50%
                    align-items: center
                    justify-content: center
                    transform: translateY(-50%)
                    border-radius: 100px
                    transition: 0.3s
                    cursor: pointer
                    
                    &:hover
                        background: rgba(#FFF, 0.3)
                        i
                            color: rgba(#FFF, 0.95)
                    &:active
                        transition: 0s
                        background: rgba(#FFF, 0.5)
                    i
                        color: rgba(#FFF, 0.3)


                .prev
                    left: 15px

                .next
                    right: 15px

        .calender
            position: relative
            width: 100%
            .userSelectArea
                width: 100%
                position: absolute
                opacity: 0
                transition: 0.5s
                pointer-events: none

                &.active
                    opacity: 1
                    pointer-events: auto

                .weekDays
                    display: flex
                    justify-content: space-between
                    // padding: 0 25px
                    
                    p
                        width: calc(100% / 7 - 1px)
                        margin: 0 1px 1px 0
                        background: rgba(#000, 0.7)
                        text-align: center
                        font-size: 90%
                        line-height: 30px

                    p:first-child, p:last-child
                        color: #ff8f8f
                        background: rgba(#630000, 0.6)

                ul
                    display: flex
                    flex-wrap: wrap
                    justify-content: space-between
                    // padding: 0 25px

                .datePicker_day
                    li
                        position: relative
                        display: flex
                        // +size(34px, 34px)
                        padding-bottom: 8%
                        margin: 0 1px 1px 0
                        width: calc(100% / 7 - 1px)
                        align-items: center
                        justify-content: center
                        font-size: 90%
                        background: rgba(#000, 0.6)
                        transition: 0.3s
                        cursor: pointer
                        pointer-events: none

                        &:hover
                            background: rgba(#000, 0.4)

                        &.active
                            background: rgba(#000, 0.8)
                            color: #FFF

                        &:nth-child(7n), &:nth-child(7n + 1)
                            color: #ff8f8f
                            background: rgba(#2b0d0d, 0.6)
                            &:hover
                                background: rgba(#2b0d0d, 0.4)
                            &.active
                                background: rgba(#470707, 0.8)
                                color: #ff8f8f

                        &.pointerEventAuto
                            pointer-events: auto

                        h6
                            position: absolute
                            top: 5px
                            left: 5px
                            font-weight: normal 
                            opacity: 0.7
                            user-select: none
                        
                        .textArea
                            width: calc(100% - 10px)
                            height: calc(100% - 30px)
                            top: 25px
                            left: 5px
                            position: absolute
                            // background: #000
                            overflow-x: hidden
                            overflow-y: auto

                            &::-webkit-scrollbar
                                display: none

                            p
                                width: 100%
                                overflow: hidden
                                text-overflow: ellipsis
                                white-space: nowrap
                                font-size: 90%
                                // opacity: 0.7

            .selectYearArea, .selectMonthArea
                position: absolute
                width: 100%
                opacity: 0
                transition: 0.5s
                pointer-events: none
                
                &.active
                    opacity: 1
                    pointer-events: auto

                ul
                    display: flex
                    flex-wrap: wrap
                    justify-content: flex-start

                    li
                        +size(calc(100% / 3 - 1px), 100px)
                        background: rgba(#000, 0.65)
                        color: #FFF
                        text-align: center
                        font-size: 90%
                        margin: 0 1px 1px 0
                        line-height: 100px
                        transition: 0.3s
                        cursor: pointer
                        user-select: none

                        &:hover
                            background: rgba(#3a3a3a, 0.5)
                        &:active
                            transition: 0s
                            background: rgba(#666666, 0.8)

                        &.active
                            background: rgba(#000, 0.9)
                            color: #FFF


.showArea_calendar
    position: absolute
    display: block
    width: 300px
    // top: 300px
    // left: 400px
    box-shadow: 0 3px 5px rgba(#000, 0.7)
    transition: 0.3s
    opacity: 0
    pointer-events: none
    z-index: 3

    &.active
        opacity: 1
        pointer-events: auto

        .sidebar_calendar
            display: flex

    header
        height: 35px
        line-height: 35px
        // background: rgba(#FFF, 0.95)
        background: rgba(#000, 0.9)
        box-shadow: 0 5px 5px -5px rgba(#000, 0.9)
        text-align: center
        transition: background 0.4s
        color: #fafafa

    .content
        text-align: center
        // background: rgba(#FFF, 0.6)
        background: rgba(#000, 0.6)
        padding: 10px 0
        transition: background 0.4s
        color: #fafafa

        .month
            font-size: 150%
        .day
            font-size: 320%
            font-weight: 600
        .year
            font-size: 100%
            opacity: 0.9

    .inputArea_calendar
        // height: 300px
        padding: 10px
        color: #fafafa
        background: rgba(#000, 0.8)

        .list
            font-size: 90%
            color: #b8b8b8

        ul
            +size(100%, 120px)
            padding: 5px
            margin-top: 5px
            overflow-y: auto
            overflow-x: hidden

            &::-webkit-scrollbar
                display: none

            li
                width: 100%
                margin-bottom: 4px
                padding: 2px 5px
                font-size: 90%
                background: rgba(#FFF, 0.1)
                border-radius: 5px
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                cursor: pointer

        label
            display: block
            padding-top: 12px

            .calendar_summary
                height: 25px

            .calendar_summary, .calendar_description
                width: calc(100% - 10px)
                margin: 5px 0 0 5px
                padding: 0 5px
                background: transparent
                color: #fafafa
                border: solid 1px rgba(#FFF, 0.3)
                border-radius: 5px
                outline: none
                resize: none

    footer
        // display: flex
        display: none
        width: 100%
        height: 60px
        top: 410px
        align-items: center
        justify-content: center
        background: rgba(#000, 0.8)

        button
            padding: 8px 18px
            margin: 0 5px
            border: solid 1px rgba(#FFF, 0.3)
            font-size: 100%
            border-radius: 100px
            color: #FFF
            background: #000
            cursor: pointer
            white-space: nowrap
            outline: none
            transition: 0.3s

            &:hover
                background: #3a3a3a
            &:active
                transition: 0s
                background: #666666

    .sidebar_calendar
        position: absolute
        // display: flex
        display: none
        right: -70%
        bottom: 0
        flex-direction: column
        transform: perspective(500px) rotate3d(0, -1, 0, 45deg) translateX(0%)
        -webkit-perspective: 700
        -webkit-perspective-origin: 100% 100%
        -webkit-transform-style: -webkit-preserve-3d

        button
            position: relative
            // font-family: 'Lato', sans-serif
            font-family: 'Pinyon Script', cursive
            font-weight: 900
            padding: 7px 30px 3px 15px
            margin-bottom: 20px
            font-size: 150%
            // background: #030031
            background: transparent
            border: 0
            color: #fffbe8
            // box-shadow: 0 5px 7px rgba(#000, 0.7)
            outline: none
            cursor: pointer
            opacity: 0
            // transform: perspective(1500px) rotate3d(1, 0, 0.33, -15deg) translateX(0%)
            // -webkit-perspective: 700
            // -webkit-perspective-origin: 100% 100%
            // -webkit-transform-style: -webkit-preserve-3d

            &:hover
                &::after
                    opacity: 1
                .brightLight
                    opacity: 1

            &:active
                &::after
                    transition: 0s
                    opacity: 0

            &::before
                content: ''
                position: absolute
                +size(100%, 100%)
                top: 0
                right: 0
                border-radius: 0 50px 50px 0
                border: solid 2px rgba(#fffbe8, 0.4)
                background: linear-gradient(15deg, #020020, #242055 60%, #a9a3f5)
                // transform: rotateX(15deg) rotateY(-10deg) rotateZ(0deg)
                z-index: -1

            &::after
                content: ''
                position: absolute
                +size(100%, 100%)
                top: 0
                right: 0
                border-radius: 0 50px 50px 0
                opacity: 0
                border: solid 2px rgba(#fffbe8, 0.4)
                background: linear-gradient(15deg, #020020, #242055)
                transition: 0.3s
                // transform: rotateX(15deg) rotateY(-10deg) rotateZ(0deg)
                z-index: -1

            &.delete
                opacity: 0
                pointer-events: none
                transform: perspective(1500px) rotate3d(1, 0.4, 0, -40deg) translateX(-10%)
                -webkit-perspective: 700
                -webkit-perspective-origin: 100% 100%
                -webkit-transform-style: -webkit-preserve-3d
                &::before
                    box-shadow: 0 5px 7px rgba(#000, 0.7), inset 0 -5px 5px rgba(#200000, 0.7)
                    background: linear-gradient(165deg, #200000, #552020 60%, #f5a3a3)
                &::after
                    background: linear-gradient(165deg, #470c0c, #744242 60%, #ffd7d7)
                &.active
                    opacity: 1
                    pointer-events: auto
                    animation: delete 0.6s 0s forwards
                @keyframes delete
                    0%
                        opacity: 0
                        transform: perspective(1500px) rotate3d(1, 0.4, 0, -40deg) translateX(-30%)
                    100%
                        opacity: 1
                        transform: perspective(1500px) rotate3d(1, 0.4, 0, -40deg) translateX(-10%)

                .brightLight
                    [class^='dot']
                        background: #ff8686
                    [class^='bean']
                        background: linear-gradient(to right, transparent, #ff8686, transparent)

            &.add
                transform: perspective(1500px) rotate3d(0, -1, 0.25, 15deg) translateX(-5%)
                -webkit-perspective: 700
                -webkit-perspective-origin: 100% 100%
                -webkit-transform-style: -webkit-preserve-3d
                animation: add 0.6s 0.2s forwards
                &::before
                    box-shadow: 0 5px 7px rgba(#000, 0.7), inset 0 -5px 5px rgba(#020020, 0.7)
                    background: linear-gradient(90deg, #020020, #242055 60%, #a9a3f5)
                &::after
                    background: linear-gradient(90deg, #151147, #4b477e 60%, #d6d3ff)
                @keyframes add
                    0%
                        opacity: 0
                        transform: perspective(1500px) rotate3d(0, -1, 0.25, 15deg) translateX(-25%)
                    100%
                        opacity: 1
                        transform: perspective(1500px) rotate3d(0, -1, 0.25, 15deg) translateX(-5%)

                .brightLight
                    [class^='dot']
                        background: #b8b1ff
                    [class^='bean']
                        background: linear-gradient(to right, transparent, #b8b1ff, transparent)

            &.saveAll
                transform: perspective(1500px) rotate3d(0.7, -0.5, 0.2, 30deg) translateX(-12%)
                -webkit-perspective: 700
                -webkit-perspective-origin: 100% 100%
                -webkit-transform-style: -webkit-preserve-3d
                animation: saveAll 0.6s 0.4s forwards
                &::before
                    box-shadow: 0 5px 7px rgba(#000, 0.7), inset 0 -5px 5px rgba(#00201b, 0.7)
                    background: linear-gradient(15deg, #00201b, #205549 60%, #a3f5dc)
                &::after
                    background: linear-gradient(15deg, #084138, #346d60 60%, #ccfff0)
                @keyframes saveAll
                    0%
                        opacity: 0
                        transform: perspective(1500px) rotate3d(0.7, -0.5, 0.2, 30deg) translateX(-32%)
                    100%
                        opacity: 1
                        transform: perspective(1500px) rotate3d(0.7, -0.5, 0.2, 30deg) translateX(-12%)

                .brightLight
                    [class^='dot']
                        background: #85ffdb
                    [class^='bean']
                        background: linear-gradient(to right, transparent, #85ffdb, transparent)

            .border
                +size(70%, 150%)
                position: absolute
                background: url('../images/borderCenter.png') left bottom no-repeat
                background-size: cover
                transform: scale(-1, 1)
                bottom: -16px
                right: -10px

            .brightLight
                +size(120%, 120%)
                +ab_center
                transition: 0.5s 0.3s
                opacity: 0
                pointer-events: none

                [class^='dot']
                    position: absolute
                    +size(3px, 3px)
                    border-radius: 50%
                    left: 0
                    filter: blur(1px)
                @for $i from 1 through 10
                    .dot#{$i}
                        $x1: random(5) * 50px + 100px
                        $y1: random(10) * 3px
                        $x2: random(10) * 3px
                        $y2: random(10) * 3px
                        $top: random(7) * 3px
                        top: $top
                        animation: dot#{$i} 8s infinite
                        animation-delay: $i*-1.5s

                        +keyframes(dot#{$i})
                            0%
                                opacity: 0
                            30%
                                opacity: 1
                                // transform: translate(100px, $y2)
                            60%
                                opacity: 1
                            100%
                                opacity: 0
                                transform: translate(300px, $y1)  
                [class^='bean']
                    position: absolute
                    +size(100px, 3px)
                    border-radius: 100px
                    left: 0
                    opacity: 0.5
                    filter: blur(1px)
                @for $i from 1 through 6
                    .bean#{$i}
                        $x1: random(5) * 50px + 100px
                        $y1: random(6) * 1px
                        $x2: random(10) * 3px
                        $y2: random(10) * 3px
                        $top: random(3) * 7px
                        top: $top
                        animation: bean#{$i} 1s infinite
                        animation-delay: $i*-0.7s

                        +keyframes(bean#{$i})
                            0%
                                opacity: 0
                            30%
                                opacity: 0.5
                                // transform: translate(100px, $y2)
                            60%
                                opacity: 0.5
                            100%
                                opacity: 0
                                transform: translate(200px, $y1)  



// Light Theme
.lightTheme
    .calendarPageBox
        .selectArea
            color: #111
            header
                background: rgba(#FFF, 0.9)
                .datePicker_year, .datePicker_month
                    p
                        &:hover
                            background: rgba(#FFF, 0.6)
                        &:active
                            transition: 0s
                            background: rgba(#FFF, 1)
                    .prev, .next
                        &:hover
                            background: rgba(#FFF, 0.7)
                            i
                                color: rgba(#000, 0.95)
                        &:active
                            transition: 0s
                            background: rgba(#FFF, 1)
                        i
                            transition: 0.3s
                            color: rgba(#000, 0.3)
            .calender
                .userSelectArea
                    .weekDays
                        p
                            background: rgba(#FFF, 0.8)
                        p:first-child, p:last-child
                            color: #8a0000
                            background: rgba(#d39090, 0.8)
                    .datePicker_day
                        li
                            background: rgba(#FFF, 0.7)
                            &:hover
                                background: rgba(#FFF, 0.5)
                            &.active
                                color: #111
                                background: rgba(#FFF, 0.9)
                            &:nth-child(7n), &:nth-child(7n + 1)
                                color: #460000
                                background: rgba(#e9b7b7, 0.65)
                                &:hover
                                    background: rgba(#e9b7b7, 0.5)
                                &.active
                                    color: #830101
                                    background: rgba(#e9b7b7, 0.9)
                            .textArea
                                p
                                    color: #000
                .selectYearArea, .selectMonthArea
                    ul
                        li
                            +size(calc(100% / 3 - 1px), 100px)
                            background: rgba(#FFF, 0.65)
                            color: #111
                            text-align: center
                            font-size: 90%
                            margin: 0 1px 1px 0
                            line-height: 100px
                            transition: 0.3s
                            cursor: pointer
                            user-select: none
                            &:hover
                                background: rgba(#FFF, 0.8)
                            &:active
                                transition: 0s
                                background: rgba(#FFF, 1)

                            &.active
                                background: rgba(#FFF, 0.9)
                                color: #111
    // 行事曆視窗
    .showArea_calendar
        position: absolute
        display: block
        width: 300px
        // top: 300px
        // left: 400px
        box-shadow: 0 3px 5px rgba(#000, 0.5)
        transition: 0.3s
        opacity: 0
        pointer-events: none
        z-index: 3

        &.active
            opacity: 1
            pointer-events: auto

        header
            height: 35px
            line-height: 35px
            // background: rgba(#FFF, 0.95)
            background: rgba(#FFF, 0.9)
            text-align: center
            transition: background 0.4s
            color: #222

        .content
            text-align: center
            // background: rgba(#FFF, 0.6)
            background: rgba(#FFF, 0.6)
            padding: 10px 0
            transition: background 0.4s
            color: #222

            .month
                font-size: 150%
            .day
                font-size: 320%
                font-weight: 600
            .year
                font-size: 100%
                opacity: 0.9

        .inputArea_calendar
            // height: 300px
            padding: 10px
            color: #222
            background: rgba(#FFF, 0.8)

            .list
                font-size: 90%
                color: #3a3a3a

            ul
                +size(100%, 120px)
                padding: 5px
                margin-top: 5px
                overflow-y: auto
                overflow-x: hidden

                &::-webkit-scrollbar
                    display: none

                li
                    width: 100%
                    margin-bottom: 4px
                    padding: 2px 5px
                    font-size: 90%
                    background: rgba(#000, 0.1)
                    border-radius: 5px
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    cursor: pointer

            label
                display: block
                padding-top: 12px

                .calendar_summary
                    height: 25px

                .calendar_summary, .calendar_description
                    width: calc(100% - 10px)
                    margin: 5px 0 0 5px
                    padding: 0 5px
                    background: transparent
                    color: #222
                    border: solid 1px rgba(#000, 0.3)
                    border-radius: 5px
                    outline: none
                    resize: none

        footer
            // display: flex
            display: none
            width: 100%
            height: 60px
            top: 410px
            align-items: center
            justify-content: center
            background: rgba(#FFF, 0.8)

            button
                color: #333
                border: solid 1px rgba(#000, 0.3)
                background: #d8d8d8
                &:hover
                    background: #ececec
                &:active
                    transition: 0s
                    background: #FFF



// RWD
@media screen and (max-width: 1400px)
@media screen and (max-width: 1000px)
    .showArea_calendar
        footer
            display: flex
        .sidebar_calendar
            display: none