// * Basic settings */

*
    // font-family: 'Muli', sans-serif, '微軟正黑體'
    font-family: '微軟正黑體'
    box-sizing: border-box
    // user-select: none
ul,li
    list-style: none
    margin: 0
    padding: 0
html
    font-size: 16px