
// 底層背景
.mainBackground
    position: fixed
    +size(100%, 100%)
    background: url('https://ak6.picdn.net/shutterstock/videos/6429656/thumb/10.jpg') center center
    background-size: cover
    z-index: -1

// 螢幕點擊覆蓋
.screenHolder
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #999
    opacity: 0
    pointer-events: none
    transition: .3s
    z-index: 1

    &.show
        opacity: 0
        pointer-events: auto

// 彈窗容器
.popupBox
    +ab_center
    z-index: 1