
// 底層背景
.mainBackground
    position: fixed
    +size(100%, 100%)
    background: #000000
    background-size: cover
    z-index: -1

    .mainBackgroundImg
        position: absolute
        background: url('../images/defaultBg.jpg') 25% center no-repeat
        background-size: cover
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0.9

// 螢幕點擊覆蓋
.screenHolder
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #999
    opacity: 0
    pointer-events: none
    transition: .3s
    z-index: 2

    &.show
        pointer-events: auto

// 彈窗容器
.popupBox
    +ab_center
    z-index: 3

// 漢堡選單
.burgerMenu
    display: none
    position: fixed
    +size(46px, 46px)
    top: 10px
    left: 10px
    background: rgba(#000, 0.7)
    border-radius: 50%
    z-index: 4

    &.active
        span
            &::before
                width: 60%
                transform: rotate(-45deg) translateX(-2px)
            &::after
                width: 60%
                transform: rotate(45deg) translateX(-2px)

    span
        position: absolute
        +size(28px, 2px)
        display: block
        background: #cecece
        box-shadow: 0 0 3px #FFF
        transition: 0.4s
        +ab_center

        &::before, &::after
            position: absolute
            content: ''
            display: block
            +size(100%, 100%)
            background: #cecece
            box-shadow: 0 0 3px #FFF
            transition: 0.4s

        &::before
            top: -8px
        &::after
            bottom: -8px

.brightness
    position: fixed
    +size(800px, 600px)
    top: 0
    right: 0
    // background: rgba(#000, 0.5)
    pointer-events: none

    .beams
        [class^='beam']
            position: absolute
            top: -10px
            right: -10px
            background: linear-gradient(to left, rgba(#FFF, 0.4), transparent)
            border-radius: 100px
            filter: blur(2px)
            transform-origin: top right
            animation: beam 3s infinite
        //產生30顆星星不同的偏移位置跟動畫delay
        @for $i from 1 through 6
            .beam#{$i}
                $w: random(6) * 50px + 400px
                $h: random(6) * 5px
                $deg: random(6) * -12deg
                width: $w
                height: $h
                transform: rotate($deg)
                // $posX: random(6)*1%
                // $posY: random(80)*-1% + 30%
                // +abpos($posX,$posY)
                animation-delay: $i*-0.5s

                +keyframes(beam)
                    0%
                        opacity: 0
                    50%
                        opacity: 1
                    100%
                        opacity: 0

    .shines
        [class^='shine']
            position: absolute
            +size(3px, 3px)
            border-radius: 50%
            background: rgba(#FFF, 0.9)
            box-shadow: 0 0 10px rgba(#FFF, 0.9)
            top: 0
            right: 0
            filter: blur(1px)
        @for $i from 1 through 10
            .shine#{$i}
                $x1: random(10) * -30px
                $y1: random(10) * 30px
                $x2: random(10) * -50px
                $y2: random(10) * 50px
                animation: shine#{$i} 20s infinite
                animation-delay: $i*-0.9s

                +keyframes(shine#{$i})
                    0%
                        opacity: 0
                    30%
                        opacity: 1
                        transform: translate($x1, $y1)
                    60%
                        opacity: 1
                    100%
                        opacity: 0
                        transform: translate($x2, $y2)  

// Pages
.page
    position: absolute
    +size(70%, 100%)
    // border: solid 1px #FFF
    top: 0
    right: 0
    pointer-events: none
    opacity: 0
    transition: 0.4s

    &.active
        pointer-events: auto
        opacity: 1


// Home Page
.homePageBox
    position: relative
    +size(100%, 100%)

    .clock
        position: absolute
        top: 30%
        left: 50%
        transform: translateX(-50%)

        p
            display: inline-block
            color: #ffffff
            font-size: 200%
            vertical-align: baseline
            font-weight: 100

            &.hour, &.minute
                text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.4), 0px 24px 2px rgba(0,0,0,0.3), 0px 34px 30px rgba(0,0,0,0.3)

            &.hour, &.minute
                font-size: 1000%
            &.second
                font-size: 350%
                text-shadow: 0px 2px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.4), 0px 24px 2px rgba(0,0,0,0.3), 0px 34px 30px rgba(0,0,0,0.3)

        span
            color: #ffffff
            font-size: 120%
            font-weight: 100
            vertical-align: baseline



// RWD
@media screen and (max-width: 1400px)
    .homePageBox
        .clock
            width: 70%
            p
                font-size: 150%
                &.hour, &.minute
                    font-size: 750%
                &.second
                    font-size: 262%
            span
                font-size: 90%


@media screen and (max-width: 500px)
    .burgerMenu
        display: block
    .page
        width: 100%
        .homePageBox
            .clock
                width: 100%
                text-align: center
                p
                    font-weight: 300
                    font-size: 100%
                    &.hour, &.minute, &.second
                        font-weight: 100
                    &.hour, &.minute
                        text-shadow: 0px 3px 0px #b2a98f, 0px 7px 10px rgba(0,0,0,0.4), 0px 12px 2px rgba(0,0,0,0.3), 0px 17px 30px rgba(0,0,0,0.3)
                    &.hour, &.minute
                        font-size: 600%
                    &.second
                        font-size: 200%
                        text-shadow: 0px 2px 0px #b2a98f, 0px 7px 10px rgba(0,0,0,0.4), 0px 12px 2px rgba(0,0,0,0.3), 0px 17px 30px rgba(0,0,0,0.3)
                span
                    font-weight: 300