// .img
//     background-color: #000
//     background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRWQpn3xvrUQSmp1bbz1Bcb3wiF9aKHQLY4ln2jUjXFz8j_5fmA&usqp=CAU') no-repeat
//     +size(200px, 100vh)
//     background-size: 100%
//     border: solid 1px
//     background-position: center center
// 底層背景
.mainBackground
    position: fixed
    +size(100%, 100%)
    background: #000
    background-size: cover
    transition: 0.3s
    z-index: -1

    .mainBackgroundImg
        position: absolute
        background: url('../images/defaultBg.jpg') 25% center no-repeat
        background-size: cover
        top: 0
        left: 0
        right: 0
        bottom: 0
        transition: 0.3s
        opacity: 0.9

        &.active
            background-image: url(https://cdn.suwalls.com/wallpapers/digital-art/little-countryside-church-26522-1920x1080.jpg)

// 螢幕點擊覆蓋
.screenHolder
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0
    pointer-events: none
    transition: .3s
    z-index: 2

    &.bgColorMain
        background: var(--colorMain)
        opacity: 0.2

    &.show
        pointer-events: auto


// 彈窗容器
[class^='popupBox']
    +ab_center
    z-index: 3

.popupBox_checkMessage
    // display: none
    max-width: 300px
    padding: 25px 50px
    background: rgba(#000, 0.8)
    color: #fafafa
    border-radius: 8px
    box-shadow: 0 5px 8px rgba(#000, 0.5)
    opacity: 0
    transition: 0.3s
    animation: showPopup 0.4s 0.1s forwards

    &.hide
        animation: hidePopup 0.4s forwards

    >p
        text-align: center
        line-height: 25px

    .inputArea
        display: flex
        width: 100%
        justify-content: center
        flex-wrap: wrap
        margin-top: 10px

        .userInput
            position: relative
            margin-top: 25px

            &:first-child
                margin-top: 10px

            p
                position: absolute
                color: #fafafa
                font-size: 100%
                transition: 0.5s
                bottom: 5px
                left: 0

                &.active
                    bottom: 32px
                    font-size: 90%
                    color: #858585

            input
                width: 200px
                background: transparent !important
                padding: 5px 8px
                border: none
                border-bottom: solid 1px #4e4e4e
                border-radius: 0
                color: #FFF
                font-size: 120%
                font-weight: 100
                outline: none
                transition: 0.3s

                &:focus
                    border-bottom: solid 1px #c4c4c4

    .buttonArea
        display: flex
        align-items: center
        justify-content: center
        margin-top: 25px

        button
            padding: 8px 18px
            margin: 0 5px
            border: solid 1px rgba(#FFF, 0.3)
            font-size: 100%
            border-radius: 100px
            color: #FFF
            background: #000
            cursor: pointer
            outline: none
            transition: 0.3s

            &:hover
                background: #3a3a3a
            &:active
                transition: 0s
                background: #666666




// 漢堡選單
.burgerMenu
    display: none
    position: fixed
    +size(46px, 46px)
    top: 10px
    left: 10px
    background: rgba(#000, 0.7)
    border-radius: 50%
    transition: 0.3s
    z-index: 4

    &.active
        span
            &::before
                width: 60%
                transform: rotate(-45deg) translateX(-2px)
            &::after
                width: 60%
                transform: rotate(45deg) translateX(-2px)

    span
        position: absolute
        +size(28px, 2px)
        display: block
        background: #cecece
        box-shadow: 0 0 3px #FFF
        transition: 0.4s
        +ab_center

        &::before, &::after
            position: absolute
            content: ''
            display: block
            +size(100%, 100%)
            background: #cecece
            box-shadow: 0 0 3px #FFF
            transition: 0.4s

        &::before
            top: -8px
        &::after
            bottom: -8px


// 讀取畫面
.loading
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(#000, 0.7)
    z-index: 5
    opacity: 0
    transition: 0.3s
    pointer-events: none

    .loadingCircle
        +size(150px, 150px)
        +ab_center
        border-radius: 50%
        box-shadow: 0 0 30px rgba(#FFF, 0.7)
        transition: 0.3s

        .border
            +size(calc(100% + 10px), calc(100% + 10px))
            +ab_center
            // background: radial-gradient(#FFF 0deg, #999 90deg)
            background: conic-gradient(#c7c7c7 0deg, #3b3b3b 270deg)
            border-radius: 50%
            animation: loadingCircle 1s infinite linear
            transition: 0.3s
            z-index: -1

            +keyframes(loadingCircle)
                0%
                    transform: translate(-50%, -50%) rotate(0deg)
                100%
                    transform: translate(-50%, -50%) rotate(-360deg)

        p
            text-align: center
            display: block
            +size(100%, 100%)
            +ab_center
            background: #0e0e0e
            border-radius: 50%
            transition: 0.3s

            &::before
                content: 'Loading...'
                line-height: 150px
                color: #FFF
                font-size: 150%
                font-style: italic
                font-weight: 100
                text-shadow: 0 0 8px #FFF
                transition: 0.3s

    &.active
        opacity: 1
        pointer-events: auto


// 右上角光束、光輝
.brightness
    position: fixed
    +size(800px, 600px)
    top: 0
    right: 0
    // background: rgba(#000, 0.5)
    pointer-events: none

    .beams
        [class^='beam']
            position: absolute
            top: -10px
            right: -10px
            background: linear-gradient(to left, rgba(#FFF, 0.4), transparent)
            border-radius: 100px
            filter: blur(2px)
            transform-origin: top right
            animation: beam 3s infinite
        //產生30顆星星不同的偏移位置跟動畫delay
        @for $i from 1 through 6
            .beam#{$i}
                $w: random(6) * 50px + 400px
                $h: random(6) * 5px
                $deg: random(6) * -12deg
                width: $w
                height: $h
                transform: rotate($deg)
                // $posX: random(6)*1%
                // $posY: random(80)*-1% + 30%
                // +abpos($posX,$posY)
                animation-delay: $i*-0.5s

                +keyframes(beam)
                    0%
                        opacity: 0
                    50%
                        opacity: 1
                    100%
                        opacity: 0

    .shines
        [class^='shine']
            position: absolute
            +size(3px, 3px)
            border-radius: 50%
            background: rgba(#FFF, 0.9)
            box-shadow: 0 0 10px rgba(#FFF, 0.9)
            top: 0
            right: 0
            filter: blur(1px)
        @for $i from 1 through 10
            .shine#{$i}
                $x1: random(10) * -30px
                $y1: random(10) * 30px
                $x2: random(10) * -50px
                $y2: random(10) * 50px
                animation: shine#{$i} 20s infinite
                animation-delay: $i*-1.5s

                +keyframes(shine#{$i})
                    0%
                        opacity: 0
                    30%
                        opacity: 1
                        transform: translate($x1, $y1)
                    60%
                        opacity: 1
                    100%
                        opacity: 0
                        transform: translate($x2, $y2)  

// Pages
.page
    position: absolute
    +size(70%, 100%)
    // border: solid 1px #FFF
    top: 0
    right: 0
    pointer-events: none
    opacity: 0
    transition: 0.4s

    &.active
        pointer-events: auto
        opacity: 1


// Home Page
.homePageBox
    position: relative
    +size(100%, 100%)

    .clock
        position: absolute
        top: 30%
        left: 50%
        transform: translateX(-50%)

        p
            display: inline-block
            color: #ffffff
            font-size: 200%
            vertical-align: baseline
            font-weight: 100

            &.hour, &.minute
                text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.4), 0px 24px 2px rgba(0,0,0,0.3), 0px 34px 30px rgba(0,0,0,0.3)

            &.hour, &.minute
                font-size: 1000%
            &.second
                position: absolute
                bottom: 50px
                font-size: 350%
                text-shadow: 0px 2px 0px #b2a98f, 0px 14px 10px rgba(0,0,0,0.4), 0px 24px 2px rgba(0,0,0,0.3), 0px 34px 30px rgba(0,0,0,0.3)

        span
            color: #ffffff
            font-size: 120%
            font-weight: 100
            vertical-align: baseline





// Light Theme
.lightTheme
    .mainBackground
        background: #FFF
    .popupBox_checkMessage
        background: rgba(#FFF, 0.8)
        color: #000
        box-shadow: 0 5px 8px rgba(#000, 0.5)
        .inputArea
            .userInput
                p
                    color: #4e4e4e
                    &.active
                        color: #aaaaaa
                input
                    color: #3a3a3a
                    border-bottom: solid 1px #c0c0c0
                    &:focus
                        border-bottom: solid 1px #4e4e4e
        .buttonArea
            button
                color: #333
                border: solid 1px rgba(#000, 0.3)
                background: #d8d8d8
                &:hover
                    background: #ececec
                &:active
                    transition: 0s
                    background: #FFF
    // 漢堡選單
    .burgerMenu
        background: rgba(#FFF, 0.7)
        span
            background: #535353
            box-shadow: 0 0 3px #535353
            &::before, &::after
                background: #535353
                box-shadow: 0 0 3px #535353
    // 讀取畫面
    .loading
        background: rgba(#FFF, 0.7)
        .loadingCircle
            box-shadow: 0 0 30px rgba(#000, 0.7)
            .border
                background: conic-gradient(#3b3b3b 0deg, #c7c7c7 270deg)
            p
                background: #FFF
                &::before
                    color: #000
                    // text-shadow: 0 0 8px #FFF










// animations
+keyframes(showPopup)
    0%
        opacity: 0
        transform: translate(-50%, -50%) scale(0.8)
    60%
        transform: translate(-50%, -50%) scale(1.1)
    100%
        opacity: 1
        transform: translate(-50%, -50%) scale(1)

+keyframes(hidePopup)
    0%
        opacity: 1
        transform: translate(-50%, -50%) scale(1)
    40%
        transform: translate(-50%, -50%) scale(1.1)
    100%
        opacity: 0
        transform: translate(-50%, -50%) scale(0.8)



// RWD
@media screen and (max-width: 1400px)
    .popupBox
        transform-origin: center center
        transform: translate(-50%, -50%) scale(0.85)
    .loading
        .loadingCircle
            transform-origin: center center
            transform: translate(-50%, -50%) scale(0.85)
    .homePageBox
        .clock
            width: 70%
            p
                font-size: 150%
                &.hour, &.minute
                    font-size: 750%
                &.second
                    bottom: 40px
                    font-size: 262%
            span
                font-size: 90%


@media screen and (max-width: 1000px)
    // .popupBox
    //     transform: translate(-50%, -50%)
    .loading
        .loadingCircle
            +size(100px, 100px)
            .border
                +size(calc(100% + 7px), calc(100% + 7px))
            p
                &::before
                    font-size: 100%
                    line-height: 100px
    .burgerMenu
        display: block
    .page
        width: 100%
        .homePageBox
            .clock
                width: 100%
                text-align: center
                p
                    transform: translateX(-15px)
                    font-weight: 300
                    font-size: 100%
                    &.hour, &.minute, &.second
                        font-weight: 100
                    &.hour, &.minute
                        text-shadow: 0px 3px 0px #b2a98f, 0px 7px 10px rgba(0,0,0,0.4), 0px 12px 2px rgba(0,0,0,0.3), 0px 17px 30px rgba(0,0,0,0.3)
                    &.hour, &.minute
                        font-size: 600%
                    &.second
                        bottom: 35px
                        font-size: 200%
                        text-shadow: 0px 2px 0px #b2a98f, 0px 7px 10px rgba(0,0,0,0.4), 0px 12px 2px rgba(0,0,0,0.3), 0px 17px 30px rgba(0,0,0,0.3)
                span
                    font-weight: 300