// Sidebar

.sidebar
    position: fixed
    +size(30%, 100%)
    min-width: 250px
    top: 0
    left: 0
    background: linear-gradient(to right, rgba(#000, 1) 5%, rgba(#000, 0.7) 40%, transparent)
    transition: 0.4s
    z-index: 1

    .topArea
        width: 250px
        padding: 40px 0 20px 0

        .photo
            position: relative
            +size(70px, 70px)
            background: url('../images/pictureHolder.png') center center no-repeat
            background-size: cover
            margin: auto
            border-radius: 50%
            border: solid 2px #FFF
            box-shadow: 0 0 20px rgba(#FFF, 0.8)
            transition: 0.4s

            .editPhoto
                position: absolute
                +size(32px, 32px)
                display: none
                bottom: -8px
                right: -8px
                border-radius: 50%
                border: solid 1px #FFF
                background: #222
                outline: none
                cursor: pointer
                transition: 0.2s

                &:hover
                    background: #555
                &:active
                    transition: 0s
                    background: #777

                &::before
                    content: '\f030'
                    display: flex
                    position: absolute
                    +size(100%, 100%)
                    justify-content: center
                    align-items: center
                    top: 0
                    left: 0
                    font-family: FontAwesome
                    font-size: 120%
                    color: #FFF
                    border-radius: 50%

                input
                    display: none

        .name
            width: 100%
            color: #FFF
            text-align: center
            margin-top: 15px
            font-size: 150%
            background: transparent
            font-weight: 100
            border: none
            outline: none
            transition: 0.4s


    .sidebarContent
        +size(250px, 100%)

        ul
            max-height: 500px
            overflow: auto
            padding: 10px 0

            &::-webkit-scrollbar
                display: none

            li
                position: relative
                padding: 18px 0 18px 80px
                box-sizing: border-box
                overflow: hidden
                transition: 0.3s
                cursor: pointer

                &:hover
                    &::before
                        opacity: 1
                    .hoverCircle
                        opacity: 0.15
                    p
                        color: #FFF
                        text-shadow: 0 0 10px rgba(#FFF, 0.8)
                        &::before
                            text-shadow: none
                            color: #9e9e9e

                &::before
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    border-top: solid 1px rgba(#FFF, 0.07)
                    border-bottom: solid 1px rgba(#FFF, 0.07)
                    background: linear-gradient(to right, transparent, rgba(#FFF, 0.15) 35%, transparent)
                    opacity: 0
                    transition: 0.3s
                    pointer-events: none

                    +keyframes(btnBorder)
                        0%
                            border-top: solid 1px rgba(#FFF, 0.1)
                            border-bottom: solid 1px rgba(#FFF, 0.1)
                        20%
                            border-top: solid 1px rgba(#FFF, 0.15)
                            border-bottom: solid 1px rgba(#FFF, 0.15)
                        100%
                            border-top: solid 1px rgba(#FFF, 0.1)
                            border-bottom: solid 1px rgba(#FFF, 0.1)


                &.active
                    &::before
                        opacity: 1
                        background: linear-gradient(to right, transparent, rgba(#FFF, 0.2) 35%, transparent)
                        border-top: solid 1px rgba(#FFF, 0.1)
                        border-bottom: solid 1px rgba(#FFF, 0.1)
                        animation: btnBorder 0.8s forwards
                    .clickCircle
                        display: block
                    p
                        color: #FFF
                        text-shadow: 0 0 10px rgba(#FFF, 1)
                        &::before
                            text-shadow: none
                            color: #c9c9c9


                &.hide
                    display: none
                    pointer-events: none


                p
                    position: relative
                    font-size:  90%
                    color: #adadad
                    pointer-events: none
                    transition: 0.3s

                    &::before
                        position: absolute
                        display: block
                        top: 50%
                        left: -40px
                        font-family: FontAwesome
                        font-size: 150%
                        color: #5c5c5c
                        transform: translateY(-50%)
                        transition: 0.3s

                    &.login                   // 登入
                        &::before
                            content: '\f090'
                    &.logOut                  // 登出
                        &::before
                            content: '\f08b'
                    &.home                    // 首頁
                        &::before
                            content: '\f015'
                    &.balanceSheet            // 收支表
                        &::before
                            content: '\f200'
                    &.links                   // 快速連結
                        &::before
                            content: '\f0c1'
                    &.notes                   // 記事本
                        &::before
                            content: '\f02d'
                
                
                // 點擊出現的圓
                .clickCircle
                    +size(5px, 5px)
                    +ab_center
                    display: none
                    border-radius: 50%
                    background: rgba(#fff, 0.1)
                    pointer-events: none
                    animation: clickCircle 0.8s forwards

                    +keyframes(clickCircle)
                        0%
                            opacity: 0
                            transform: translate(-50%, -50%) scale(1)
                        20%
                            opacity: 1
                        100%
                            opacity: 0
                            transform: translate(-50%, -50%) scale(50)

                .hoverCircle
                    +size(250px, 250px)
                    +ab_center
                    border-radius: 50%
                    background: radial-gradient(circle, #FFF, transparent, transparent)
                    filter: blur(10px)
                    opacity: 0
                    transition: opacity 1s
                    pointer-events: none


    // 『使用者設定』按鈕
    .userSettingBtn
        position: absolute
        +size(35px, 35px)
        bottom: 60px
        left: 30px
        border-radius: 50%
        cursor: pointer
        transform-origin: center center
        transition: 0.3s

        &:hover
            transform: rotate(0.5turn)
            &::before
                color: #FFF
                text-shadow: 0 0 10px rgba(#FFF, 0.7)

        &::before
            position: absolute
            content: '\f013'
            display: block
            +ab_center
            font-family: FontAwesome
            font-size: 200%
            color: #adadad
            transition: 0.3s

        &.active
            animation: userSettingBtn 5s infinite linear
            &::before
                color: #FFF
                text-shadow: 0 0 10px rgba(#FFF, 0.7)
            
            +keyframes(userSettingBtn)
                0%
                    transform: rotate(0deg)
                100%
                    transform: rotate(360deg)

        &.hide
            display: none
            pointer-events: none


    // Sidebar 收合按鈕 (暫時沒用)
    .changeWidthBtn
        position: absolute
        +size(35px, 22px)
        bottom: 20px
        left: 30px
        background: #adadad
        cursor: pointer
        transform-origin: center center
        transition: 0.3s

        &:hover
            background: #FFF
            

        &::before
            content: ''
            position: absolute
            display: block
            +size(20px, 22px)
            top: 0
            left: 0
            background: linear-gradient(to right, #181818, transparent)
            transition: 0.3s

        &.active
            &::before
                width: 10px

                

// Light Theme
.lightTheme
    .sidebar
        background: linear-gradient(to right, rgba(#FFF, 1) 5%, rgba(#FFF, 0.7) 40%, transparent)
        .topArea
            .photo
                border: solid 2px #999
                box-shadow: 0 0 20px rgba(#555, 0.8)
                .editPhoto
                    border: solid 1px #999
                    background: #eee
                    &:hover
                        background: #eee
                        &::before
                            color: #111
                    &:active
                        transition: 0s
                        background: #FFF
                    &::before
                        color: #555
                        transition: 0.2s
            .name
                color: #000
        .sidebarContent
            ul
                li
                    &:hover
                        p
                            color: #000
                            // text-shadow: 0 0 10px rgba(#000, 0.8)
                            &::before
                                color: #535353        
                    &::before
                        border-top: solid 1px rgba(#000, 0.2)
                        border-bottom: solid 1px rgba(#000, 0.2)
                        background: linear-gradient(to right, transparent, rgba(#000, 0.15) 35%, transparent)
                        +keyframes(btnBorder_lightTheme)
                            0%
                                border-top: solid 1px rgba(#000, 0.1)
                                border-bottom: solid 1px rgba(#000, 0.1)
                            20%
                                border-top: solid 1px rgba(#000, 0.15)
                                border-bottom: solid 1px rgba(#000, 0.15)
                            100%
                                border-top: solid 1px rgba(#000, 0.1)
                                border-bottom: solid 1px rgba(#000, 0.1)
                    &.active
                        &::before
                            opacity: 1
                            background: linear-gradient(to right, transparent, rgba(#000, 0.2) 35%, transparent)
                            border-top: solid 1px rgba(#000, 0.1)
                            border-bottom: solid 1px rgba(#000, 0.1)
                            animation: btnBorder_lightTheme 0.8s forwards
                        .clickCircle
                            display: block
                        p
                            color: #000
                            // text-shadow: 0 0 2px rgba(#000, 1)
                            &::before
                                text-shadow: none
                                color: #585858
                    p
                        color: #999999
                        &::before
                            color: #c9c9c9
                    // 點擊出現的圓
                    .clickCircle
                        background: rgba(#000, 0.1)
                    .hoverCircle
                        background: radial-gradient(circle, #000, transparent, transparent)  
        // 『使用者設定』按鈕
        .userSettingBtn
            &:hover
                &::before
                    color: #535353
            &::before
                color: #adadad
            &.active
                &::before
                    color: #535353





// RWD
@media screen and (max-width: 1400px)
    .sidebar
        .topArea
            width: 220px
            padding: 30px 0 15px 0
            .photo
                +size(55px, 55px)
                .editPhoto
                    +size(25px, 25px)
                    &::before
                        font-size: 90%
            .name
                font-size: 120%
        .sidebarContent
            width: 220px
            ul
                max-height: 300px
                li
                    padding: 14px 0 14px 60px
                    p
                        font-size: 80%
        .userSettingBtn
            +size(30px, 30px)
            left: 20px
            &::before
                font-size: 180%


@media screen and (max-width: 1000px)
    .sidebar
        width: 80%
        pointer-events: none
        opacity: 0
        background: linear-gradient(to right, rgba(#000, 1) 15%, rgba(#000, 0.8) 50%, rgba(#000, 0.6) 70%, transparent)
        z-index: 3
        &.active
            pointer-events: auto
            opacity: 1
        .topArea
            width: 70%
            padding: 50px 0 15px 0
            .photo
                +size(55px, 55px)
            .name
                font-size: 110%
        .sidebarContent
            width: 70%
            ul
                max-height: 300px
                li
                    padding: 14px 0 14px 60px
                    &.active
                        &::before
                            background: linear-gradient(to right, rgba(#FFF, 0.05) 0%, rgba(#FFF, 0.15) 30%, transparent)
                    p
                        font-size: 80%
        .userSettingBtn
            bottom: 20px
    

    .lightTheme
        .sidebar
            background: linear-gradient(to right, rgba(#FFF, 1) 15%, rgba(#FFF, 0.8) 40%, rgba(#FFF, 0.3) 75%, transparent)
            .sidebarContent
                ul
                    li
                        &.active
                            &::before
                                background: linear-gradient(to right, rgba(#000, 0.05) 0%, rgba(#000, 0.15) 30%, transparent)

