@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

* {
  font-family: "Muli", sans-serif, "微軟正黑體";
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("https://ak6.picdn.net/shutterstock/videos/6429656/thumb/10.jpg") center center;
  background-size: cover;
  z-index: -1;
}

/** 收支表 */
.screenHolder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1;
}
.screenHolder.show {
  opacity: 0;
  pointer-events: auto;
}

.userInputArea_date {
  display: flex;
}
.userInputArea_date section {
  position: relative;
  width: 80px;
  text-align: center;
}
.userInputArea_date section input {
  width: 100%;
  text-align: center;
}
.userInputArea_date section input.userInputHidden {
  display: none;
}
.userInputArea_date section .options {
  width: 100%;
  position: absolute;
  background: #cfcfcf;
  max-height: 50vh;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(5, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}
.userInputArea_date section .options::-webkit-scrollbar {
  display: none;
}
.userInputArea_date section .options li {
  transition: 0.2s;
}
.userInputArea_date section .options li:hover {
  background: #e7e7e7;
}

.userInputArea_itemList input {
  width: 100px;
}

.popupBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/** 日期選取器 Date-Picker */
.datePickerBox {
  display: flex;
  width: 600px;
  height: 330px;
  background: rgba(255, 255, 255, 0.7);
  color: #222222;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  animation: showDatePicker 0.3s 0.1s forwards;
  -webkit-user-select: none;
          user-select: none;
}
.datePickerBox.hide {
  animation: hideDatePicker 0.3s forwards;
  pointer-events: none;
}
.datePickerBox .showArea {
  width: 45%;
}
.datePickerBox .showArea header {
  height: 35px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.datePickerBox .showArea .content {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px 0;
}
.datePickerBox .showArea .content .month {
  font-size: 150%;
}
.datePickerBox .showArea .content .day {
  font-size: 450%;
  font-weight: 600;
}
.datePickerBox .showArea .content .year {
  font-size: 120%;
  opacity: 0.6;
}
.datePickerBox .selectArea {
  position: relative;
  width: 55%;
  color: #000;
}
.datePickerBox .selectArea header {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 5px;
}
.datePickerBox .selectArea header .displayNone {
  display: none;
}
.datePickerBox .selectArea header .datePicker_year, .datePickerBox .selectArea header .datePicker_month {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  line-height: 40px;
}
.datePickerBox .selectArea header .datePicker_year p, .datePickerBox .selectArea header .datePicker_month p {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea header .datePicker_year p:hover, .datePickerBox .selectArea header .datePicker_month p:hover {
  background: rgba(255, 255, 255, 0.6);
}
.datePickerBox .selectArea header .datePicker_year p:active, .datePickerBox .selectArea header .datePicker_month p:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea header .datePicker_year .prev, .datePickerBox .selectArea header .datePicker_year .next, .datePickerBox .selectArea header .datePicker_month .prev, .datePickerBox .selectArea header .datePicker_month .next {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea header .datePicker_year .prev:hover, .datePickerBox .selectArea header .datePicker_year .next:hover, .datePickerBox .selectArea header .datePicker_month .prev:hover, .datePickerBox .selectArea header .datePicker_month .next:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea header .datePicker_year .prev:hover i, .datePickerBox .selectArea header .datePicker_year .next:hover i, .datePickerBox .selectArea header .datePicker_month .prev:hover i, .datePickerBox .selectArea header .datePicker_month .next:hover i {
  color: rgba(0, 0, 0, 0.95);
}
.datePickerBox .selectArea header .datePicker_year .prev:active, .datePickerBox .selectArea header .datePicker_year .next:active, .datePickerBox .selectArea header .datePicker_month .prev:active, .datePickerBox .selectArea header .datePicker_month .next:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea header .datePicker_year .prev i, .datePickerBox .selectArea header .datePicker_year .next i, .datePickerBox .selectArea header .datePicker_month .prev i, .datePickerBox .selectArea header .datePicker_month .next i {
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.3);
}
.datePickerBox .selectArea header .datePicker_year .prev, .datePickerBox .selectArea header .datePicker_month .prev {
  left: 15px;
}
.datePickerBox .selectArea header .datePicker_year .next, .datePickerBox .selectArea header .datePicker_month .next {
  right: 15px;
}
.datePickerBox .selectArea .calender .userSelectArea {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.datePickerBox .selectArea .calender .userSelectArea.active {
  opacity: 1;
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays p {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 90%;
  line-height: 30px;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays p:first-child, .datePickerBox .selectArea .calender .userSelectArea .weekDays p:last-child {
  color: #f36565;
}
.datePickerBox .selectArea .calender .userSelectArea ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 21px;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  margin: 1px 2px;
  border-radius: 100px;
  pointer-events: none;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li.active {
  background: rgba(0, 0, 0, 0.6);
  border: solid 2px rgba(134, 134, 134, 0.6);
  color: #FFF;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li.pointerEventAuto {
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .selectYearArea, .datePickerBox .selectArea .calender .selectMonthArea {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.datePickerBox .selectArea .calender .selectYearArea.active, .datePickerBox .selectArea .calender .selectMonthArea.active {
  opacity: 1;
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .selectYearArea ul, .datePickerBox .selectArea .calender .selectMonthArea ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 21px;
}
.datePickerBox .selectArea .calender .selectYearArea ul li, .datePickerBox .selectArea .calender .selectMonthArea ul li {
  width: 60px;
  height: 35px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 90%;
  margin: 1px 2px;
  line-height: 35px;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea .calender .selectYearArea ul li:hover, .datePickerBox .selectArea .calender .selectMonthArea ul li:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea .calender .selectYearArea ul li:active, .datePickerBox .selectArea .calender .selectMonthArea ul li:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea .calender .selectYearArea ul li.active, .datePickerBox .selectArea .calender .selectMonthArea ul li.active {
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
}
.datePickerBox .selectArea footer {
  position: absolute;
  right: 21px;
  bottom: 10px;
}
.datePickerBox .selectArea footer button {
  padding: 8px 18px;
  border: none;
  font-size: 100%;
  border-radius: 100px;
  background: transparent;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea footer button:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea footer button:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.95);
}
@keyframes showDatePicker {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hideDatePicker {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 500px) {
  .datePickerBox {
    width: 340px;
    height: 570px;
    flex-wrap: wrap;
  }
  .datePickerBox .showArea {
    width: 100%;
    height: 20px;
  }
  .datePickerBox .showArea .content {
    padding: 15px 0;
  }
  .datePickerBox .selectArea {
    top: 95px;
    width: 100%;
    height: 340px;
  }
}