@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

* {
  font-family: "Muli", sans-serif, "微軟正黑體";
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.mainBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  background-size: cover;
  z-index: -1;
}
.mainBackground .mainBackgroundImg {
  position: absolute;
  background: url("../images/defaultBg.jpg") 25% center no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.screenHolder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 2;
}
.screenHolder.show {
  pointer-events: auto;
}

.popupBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.burgerMenu {
  display: none;
  position: fixed;
  width: 46px;
  height: 46px;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  z-index: 4;
}
.burgerMenu.active span::before {
  width: 60%;
  transform: rotate(-45deg) translateX(-2px);
}
.burgerMenu.active span::after {
  width: 60%;
  transform: rotate(45deg) translateX(-2px);
}
.burgerMenu span {
  position: absolute;
  width: 28px;
  height: 2px;
  display: block;
  background: #cecece;
  box-shadow: 0 0 3px #FFF;
  transition: 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.burgerMenu span::before, .burgerMenu span::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #cecece;
  box-shadow: 0 0 3px #FFF;
  transition: 0.4s;
}
.burgerMenu span::before {
  top: -8px;
}
.burgerMenu span::after {
  bottom: -8px;
}

.brightness {
  position: fixed;
  width: 800px;
  height: 600px;
  top: 0;
  right: 0;
  pointer-events: none;
}
.brightness .beams [class^=beam] {
  position: absolute;
  top: -10px;
  right: -10px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), transparent);
  border-radius: 100px;
  filter: blur(2px);
  transform-origin: top right;
  animation: beam 3s infinite;
}
.brightness .beams .beam1 {
  width: 500px;
  height: 5px;
  transform: rotate(-12deg);
  animation-delay: -0.5s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .beams .beam2 {
  width: 700px;
  height: 20px;
  transform: rotate(-12deg);
  animation-delay: -1s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .beams .beam3 {
  width: 650px;
  height: 25px;
  transform: rotate(-24deg);
  animation-delay: -1.5s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .beams .beam4 {
  width: 600px;
  height: 15px;
  transform: rotate(-24deg);
  animation-delay: -2s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .beams .beam5 {
  width: 550px;
  height: 20px;
  transform: rotate(-24deg);
  animation-delay: -2.5s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .beams .beam6 {
  width: 500px;
  height: 5px;
  transform: rotate(-36deg);
  animation-delay: -3s;
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.brightness .shines [class^=shine] {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  filter: blur(1px);
}
.brightness .shines .shine1 {
  animation: shine1 20s infinite;
  animation-delay: -1.5s;
}
@keyframes shine1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-60px, 240px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-350px, 150px);
  }
}
.brightness .shines .shine2 {
  animation: shine2 20s infinite;
  animation-delay: -3s;
}
@keyframes shine2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-30px, 30px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 250px);
  }
}
.brightness .shines .shine3 {
  animation: shine3 20s infinite;
  animation-delay: -4.5s;
}
@keyframes shine3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-60px, 30px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 450px);
  }
}
.brightness .shines .shine4 {
  animation: shine4 20s infinite;
  animation-delay: -6s;
}
@keyframes shine4 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-240px, 30px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-150px, 450px);
  }
}
.brightness .shines .shine5 {
  animation: shine5 20s infinite;
  animation-delay: -7.5s;
}
@keyframes shine5 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-180px, 150px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 250px);
  }
}
.brightness .shines .shine6 {
  animation: shine6 20s infinite;
  animation-delay: -9s;
}
@keyframes shine6 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-180px, 270px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-200px, 300px);
  }
}
.brightness .shines .shine7 {
  animation: shine7 20s infinite;
  animation-delay: -10.5s;
}
@keyframes shine7 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-300px, 240px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-450px, 300px);
  }
}
.brightness .shines .shine8 {
  animation: shine8 20s infinite;
  animation-delay: -12s;
}
@keyframes shine8 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-30px, 60px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-350px, 300px);
  }
}
.brightness .shines .shine9 {
  animation: shine9 20s infinite;
  animation-delay: -13.5s;
}
@keyframes shine9 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-270px, 270px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-400px, 150px);
  }
}
.brightness .shines .shine10 {
  animation: shine10 20s infinite;
  animation-delay: -15s;
}
@keyframes shine10 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translate(-30px, 240px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 100px);
  }
}

.page {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}
.page.active {
  pointer-events: auto;
  opacity: 1;
}

.homePageBox {
  position: relative;
  width: 100%;
  height: 100%;
}
.homePageBox .clock {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.homePageBox .clock p {
  display: inline-block;
  color: #ffffff;
  font-size: 200%;
  vertical-align: baseline;
  font-weight: 100;
}
.homePageBox .clock p.hour, .homePageBox .clock p.minute {
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.4), 0px 24px 2px rgba(0, 0, 0, 0.3), 0px 34px 30px rgba(0, 0, 0, 0.3);
}
.homePageBox .clock p.hour, .homePageBox .clock p.minute {
  font-size: 1000%;
}
.homePageBox .clock p.second {
  font-size: 350%;
  text-shadow: 0px 2px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.4), 0px 24px 2px rgba(0, 0, 0, 0.3), 0px 34px 30px rgba(0, 0, 0, 0.3);
}
.homePageBox .clock span {
  color: #ffffff;
  font-size: 120%;
  font-weight: 100;
  vertical-align: baseline;
}

@media screen and (max-width: 1400px) {
  .homePageBox .clock {
    width: 70%;
  }
  .homePageBox .clock p {
    font-size: 150%;
  }
  .homePageBox .clock p.hour, .homePageBox .clock p.minute {
    font-size: 750%;
  }
  .homePageBox .clock p.second {
    font-size: 262%;
  }
  .homePageBox .clock span {
    font-size: 90%;
  }
}
@media screen and (max-width: 500px) {
  .burgerMenu {
    display: block;
  }

  .page {
    width: 100%;
  }
  .page .homePageBox .clock {
    width: 100%;
    text-align: center;
  }
  .page .homePageBox .clock p {
    font-weight: 300;
    font-size: 100%;
  }
  .page .homePageBox .clock p.hour, .page .homePageBox .clock p.minute, .page .homePageBox .clock p.second {
    font-weight: 100;
  }
  .page .homePageBox .clock p.hour, .page .homePageBox .clock p.minute {
    text-shadow: 0px 3px 0px #b2a98f, 0px 7px 10px rgba(0, 0, 0, 0.4), 0px 12px 2px rgba(0, 0, 0, 0.3), 0px 17px 30px rgba(0, 0, 0, 0.3);
  }
  .page .homePageBox .clock p.hour, .page .homePageBox .clock p.minute {
    font-size: 600%;
  }
  .page .homePageBox .clock p.second {
    font-size: 200%;
    text-shadow: 0px 2px 0px #b2a98f, 0px 7px 10px rgba(0, 0, 0, 0.4), 0px 12px 2px rgba(0, 0, 0, 0.3), 0px 17px 30px rgba(0, 0, 0, 0.3);
  }
  .page .homePageBox .clock span {
    font-weight: 300;
  }
}
.sidebar {
  position: fixed;
  width: 30%;
  height: 100%;
  min-width: 250px;
  top: 0;
  left: 0;
  background: linear-gradient(to right, black 5%, rgba(0, 0, 0, 0.8) 50%, transparent);
  transition: 0.4s;
  z-index: 1;
}
.sidebar .topArea {
  width: 250px;
  padding: 40px 0 20px 0;
}
.sidebar .topArea .photo {
  width: 70px;
  height: 70px;
  background: url("../images/pictureHolder.png") center center no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 50%;
  border: solid 2px #FFF;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.sidebar .topArea .name {
  width: 100%;
  color: #FFF;
  text-align: center;
  margin-top: 15px;
  font-size: 150%;
  background: transparent;
  font-weight: 100;
  border: none;
  outline: none;
}
.sidebar .sidebarContent {
  width: 250px;
  height: 100%;
}
.sidebar .sidebarContent ul {
  max-height: 500px;
  overflow: auto;
  padding: 10px 0;
}
.sidebar .sidebarContent ul::-webkit-scrollbar {
  display: none;
}
.sidebar .sidebarContent ul li {
  position: relative;
  padding: 18px 0 18px 80px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}
.sidebar .sidebarContent ul li:hover::before {
  opacity: 1;
}
.sidebar .sidebarContent ul li:hover p {
  color: #FFF;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.sidebar .sidebarContent ul li:hover p::before {
  text-shadow: none;
  color: #9e9e9e;
}
.sidebar .sidebarContent ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.07);
  border-bottom: solid 1px rgba(255, 255, 255, 0.07);
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.15) 35%, transparent);
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.sidebar .sidebarContent ul li.active::before {
  opacity: 1;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2) 35%, transparent);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.sidebar .sidebarContent ul li.active p {
  color: #FFF;
  text-shadow: 0 0 10px white;
}
.sidebar .sidebarContent ul li.active p::before {
  text-shadow: none;
  color: #c9c9c9;
}
.sidebar .sidebarContent ul li p {
  position: relative;
  font-size: 90%;
  color: #adadad;
  transition: 0.3s;
}
.sidebar .sidebarContent ul li p::before {
  position: absolute;
  display: block;
  top: 50%;
  left: -40px;
  font-family: FontAwesome;
  font-size: 150%;
  color: #5c5c5c;
  transform: translateY(-50%);
  transition: 0.3s;
}
.sidebar .sidebarContent ul li p.home::before {
  content: "";
}
.sidebar .sidebarContent ul li p.balanceSheet::before {
  content: "";
}
.sidebar .userSettingBtn {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 60px;
  left: 30px;
  border-radius: 50%;
  cursor: pointer;
  transform-origin: center center;
  transition: 0.3s;
}
.sidebar .userSettingBtn:hover {
  transform: rotate(0.5turn);
}
.sidebar .userSettingBtn:hover::before {
  color: #FFF;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.sidebar .userSettingBtn::before {
  position: absolute;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: FontAwesome;
  font-size: 200%;
  color: #adadad;
  transition: 0.3s;
}
.sidebar .userSettingBtn.active {
  animation: userSettingBtn 5s infinite linear;
}
.sidebar .userSettingBtn.active::before {
  color: #FFF;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
@keyframes userSettingBtn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1400px) {
  .sidebar .topArea {
    width: 220px;
    padding: 30px 0 15px 0;
  }
  .sidebar .topArea .photo {
    width: 55px;
    height: 55px;
  }
  .sidebar .topArea .name {
    font-size: 120%;
  }
  .sidebar .sidebarContent {
    width: 220px;
  }
  .sidebar .sidebarContent ul {
    max-height: 300px;
  }
  .sidebar .sidebarContent ul li {
    padding: 14px 0 14px 60px;
  }
  .sidebar .sidebarContent ul li p {
    font-size: 80%;
  }
  .sidebar .userSettingBtn {
    width: 30px;
    height: 30px;
    left: 20px;
  }
  .sidebar .userSettingBtn::before {
    font-size: 180%;
  }
}
@media screen and (max-width: 500px) {
  .sidebar {
    width: 80%;
    pointer-events: none;
    opacity: 0;
    background: linear-gradient(to right, black 15%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.6) 70%, transparent);
    z-index: 3;
  }
  .sidebar.active {
    pointer-events: auto;
    opacity: 1;
  }
  .sidebar .topArea {
    width: 70%;
    padding: 50px 0 15px 0;
  }
  .sidebar .topArea .photo {
    width: 55px;
    height: 55px;
  }
  .sidebar .topArea .name {
    font-size: 110%;
  }
  .sidebar .sidebarContent {
    width: 70%;
  }
  .sidebar .sidebarContent ul {
    max-height: 300px;
  }
  .sidebar .sidebarContent ul li {
    padding: 14px 0 14px 60px;
  }
  .sidebar .sidebarContent ul li.active::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.15) 30%, transparent);
  }
  .sidebar .sidebarContent ul li p {
    font-size: 80%;
  }
  .sidebar .userSettingBtn {
    bottom: 20px;
  }
}
/** 收支表 Balance Sheet */        
.userInputArea_date {
  display: flex;
}
.userInputArea_date section {
  position: relative;
  width: 80px;
  text-align: center;
}
.userInputArea_date section input {
  width: 100%;
  text-align: center;
}
.userInputArea_date section input.userInputHidden {
  display: none;
}
.userInputArea_date section .options {
  width: 100%;
  position: absolute;
  background: #cfcfcf;
  max-height: 50vh;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(5, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}
.userInputArea_date section .options::-webkit-scrollbar {
  display: none;
}
.userInputArea_date section .options li {
  transition: 0.2s;
}
.userInputArea_date section .options li:hover {
  background: #e7e7e7;
}

.userInputArea_itemList input {
  width: 100px;
}

/** 日期選取器 Date-Picker */
.datePickerBox {
  display: flex;
  width: 600px;
  height: 330px;
  background: rgba(255, 255, 255, 0.7);
  color: #222222;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: background 0.4s;
  animation: showDatePicker 0.4s 0.1s forwards;
  -webkit-user-select: none;
          user-select: none;
}
.datePickerBox.hide {
  animation: hideDatePicker 0.4s forwards;
  pointer-events: none;
}
.datePickerBox .showArea {
  width: 45%;
}
.datePickerBox .showArea header {
  height: 35px;
  line-height: 35px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: background 0.4s;
}
.datePickerBox .showArea .content {
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 40px 0;
  transition: background 0.4s;
}
.datePickerBox .showArea .content .month {
  font-size: 150%;
}
.datePickerBox .showArea .content .day {
  font-size: 450%;
  font-weight: 600;
}
.datePickerBox .showArea .content .year {
  font-size: 120%;
  opacity: 0.6;
}
.datePickerBox .selectArea {
  position: relative;
  width: 55%;
  color: #000;
}
.datePickerBox .selectArea header {
  width: 100%;
  height: 40px;
  display: flex;
  padding: 0 5px;
}
.datePickerBox .selectArea header .datePicker_year, .datePickerBox .selectArea header .datePicker_month {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  line-height: 40px;
}
.datePickerBox .selectArea header .datePicker_year p, .datePickerBox .selectArea header .datePicker_month p {
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea header .datePicker_year p:hover, .datePickerBox .selectArea header .datePicker_month p:hover {
  background: rgba(255, 255, 255, 0.6);
}
.datePickerBox .selectArea header .datePicker_year p:active, .datePickerBox .selectArea header .datePicker_month p:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea header .datePicker_year .prev, .datePickerBox .selectArea header .datePicker_year .next, .datePickerBox .selectArea header .datePicker_month .prev, .datePickerBox .selectArea header .datePicker_month .next {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea header .datePicker_year .prev:hover, .datePickerBox .selectArea header .datePicker_year .next:hover, .datePickerBox .selectArea header .datePicker_month .prev:hover, .datePickerBox .selectArea header .datePicker_month .next:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea header .datePicker_year .prev:hover i, .datePickerBox .selectArea header .datePicker_year .next:hover i, .datePickerBox .selectArea header .datePicker_month .prev:hover i, .datePickerBox .selectArea header .datePicker_month .next:hover i {
  color: rgba(0, 0, 0, 0.95);
}
.datePickerBox .selectArea header .datePicker_year .prev:active, .datePickerBox .selectArea header .datePicker_year .next:active, .datePickerBox .selectArea header .datePicker_month .prev:active, .datePickerBox .selectArea header .datePicker_month .next:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea header .datePicker_year .prev i, .datePickerBox .selectArea header .datePicker_year .next i, .datePickerBox .selectArea header .datePicker_month .prev i, .datePickerBox .selectArea header .datePicker_month .next i {
  transition: 0.3s;
  color: rgba(0, 0, 0, 0.3);
}
.datePickerBox .selectArea header .datePicker_year .prev, .datePickerBox .selectArea header .datePicker_month .prev {
  left: 15px;
}
.datePickerBox .selectArea header .datePicker_year .next, .datePickerBox .selectArea header .datePicker_month .next {
  right: 15px;
}
.datePickerBox .selectArea .calender .userSelectArea {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.datePickerBox .selectArea .calender .userSelectArea.active {
  opacity: 1;
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays p {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 90%;
  line-height: 30px;
}
.datePickerBox .selectArea .calender .userSelectArea .weekDays p:first-child, .datePickerBox .selectArea .calender .userSelectArea .weekDays p:last-child {
  color: #f36565;
}
.datePickerBox .selectArea .calender .userSelectArea ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 21px;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  font-size: 90%;
  color: #000;
  margin: 1px 2px;
  border-radius: 100px;
  pointer-events: none;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li.active {
  background: rgba(0, 0, 0, 0.6);
  border: solid 2px rgba(134, 134, 134, 0.6);
  color: #FFF;
}
.datePickerBox .selectArea .calender .userSelectArea .datePicker_day li.pointerEventAuto {
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .selectYearArea, .datePickerBox .selectArea .calender .selectMonthArea {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.datePickerBox .selectArea .calender .selectYearArea.active, .datePickerBox .selectArea .calender .selectMonthArea.active {
  opacity: 1;
  pointer-events: auto;
}
.datePickerBox .selectArea .calender .selectYearArea ul, .datePickerBox .selectArea .calender .selectMonthArea ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 21px;
}
.datePickerBox .selectArea .calender .selectYearArea ul li, .datePickerBox .selectArea .calender .selectMonthArea ul li {
  width: 60px;
  height: 35px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 90%;
  margin: 1px 2px;
  line-height: 35px;
  border-radius: 100px;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea .calender .selectYearArea ul li:hover, .datePickerBox .selectArea .calender .selectMonthArea ul li:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea .calender .selectYearArea ul li:active, .datePickerBox .selectArea .calender .selectMonthArea ul li:active {
  transition: 0s;
  background: white;
}
.datePickerBox .selectArea .calender .selectYearArea ul li.active, .datePickerBox .selectArea .calender .selectMonthArea ul li.active {
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
}
.datePickerBox .selectArea footer {
  position: absolute;
  right: 21px;
  bottom: 10px;
}
.datePickerBox .selectArea footer button {
  padding: 8px 18px;
  border: none;
  font-size: 100%;
  border-radius: 100px;
  background: transparent;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.datePickerBox .selectArea footer button:hover {
  background: rgba(255, 255, 255, 0.7);
}
.datePickerBox .selectArea footer button:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.95);
}
.datePickerBox .toggleSwitch {
  position: absolute;
  display: block;
  width: 60px;
  height: 34px;
  left: calc(45% / 2);
  bottom: 16px;
  border-radius: 100px;
  transform: translateX(-50%);
}
.datePickerBox .toggleSwitch:hover::before, .datePickerBox .toggleSwitch:hover::after {
  color: #555;
}
.datePickerBox .toggleSwitch::before {
  position: absolute;
  content: "";
  display: block;
  left: -35px;
  top: 50%;
  font-family: FontAwesome;
  font-style: solid;
  font-size: 150%;
  font-weight: 900;
  color: #919191;
  transform: translateY(-50%);
  transition: 0.4s;
}
.datePickerBox .toggleSwitch::after {
  position: absolute;
  content: "";
  display: block;
  right: -35px;
  top: 50%;
  font-family: FontAwesome;
  font-style: solid;
  font-size: 150%;
  font-weight: 900;
  color: #919191;
  transform: translateY(-50%);
  transition: 0.4s;
}
.datePickerBox .toggleSwitch input {
  display: none;
}
.datePickerBox .toggleSwitch input:checked + .slider {
  background: #555;
}
.datePickerBox .toggleSwitch input:checked + .slider::before {
  background: #FFF;
  transform: translateX(26px);
}
.datePickerBox .toggleSwitch input:focus + .slider {
  box-shadow: 0 2px 5px #000000;
}
.datePickerBox .toggleSwitch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-radius: 100px;
  transition: 0.4s;
  cursor: pointer;
}
.datePickerBox .toggleSwitch .slider::before {
  position: absolute;
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background: #bdbdbd;
  border-radius: 50%;
  transition: 0.4s;
}

.darkTheme {
  background: rgba(0, 0, 0, 0.6);
  color: #fafafa;
}
.darkTheme .showArea header {
  background: rgba(0, 0, 0, 0.9);
}
.darkTheme .showArea .content {
  background: rgba(0, 0, 0, 0.5);
}
.darkTheme .selectArea {
  color: #fafafa;
}
.darkTheme .selectArea header .datePicker_year p:hover, .darkTheme .selectArea header .datePicker_month p:hover {
  background: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea header .datePicker_year p:active, .darkTheme .selectArea header .datePicker_month p:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.5);
}
.darkTheme .selectArea header .datePicker_year .prev:hover, .darkTheme .selectArea header .datePicker_year .next:hover, .darkTheme .selectArea header .datePicker_month .prev:hover, .darkTheme .selectArea header .datePicker_month .next:hover {
  background: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea header .datePicker_year .prev:hover i, .darkTheme .selectArea header .datePicker_year .next:hover i, .darkTheme .selectArea header .datePicker_month .prev:hover i, .darkTheme .selectArea header .datePicker_month .next:hover i {
  color: rgba(255, 255, 255, 0.95);
}
.darkTheme .selectArea header .datePicker_year .prev:active, .darkTheme .selectArea header .datePicker_year .next:active, .darkTheme .selectArea header .datePicker_month .prev:active, .darkTheme .selectArea header .datePicker_month .next:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.5);
}
.darkTheme .selectArea header .datePicker_year .prev i, .darkTheme .selectArea header .datePicker_year .next i, .darkTheme .selectArea header .datePicker_month .prev i, .darkTheme .selectArea header .datePicker_month .next i {
  color: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea .calender .userSelectArea .datePicker_day:hover li {
  color: #ececec;
}
.darkTheme .selectArea .calender .userSelectArea .datePicker_day li {
  color: #a5a5a5;
}
.darkTheme .selectArea .calender .userSelectArea .datePicker_day li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea .calender .userSelectArea .datePicker_day li.active {
  background: rgba(255, 255, 255, 0.9);
  border: solid 2px rgba(102, 102, 102, 0.3);
  color: #000 !important;
  font-weight: 800;
}
.darkTheme .selectArea .calender .selectYearArea ul li, .darkTheme .selectArea .calender .selectMonthArea ul li {
  background: rgba(0, 0, 0, 0.6);
}
.darkTheme .selectArea .calender .selectYearArea ul li:hover, .darkTheme .selectArea .calender .selectMonthArea ul li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea .calender .selectYearArea ul li:active, .darkTheme .selectArea .calender .selectMonthArea ul li:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.5);
}
.darkTheme .selectArea .calender .selectYearArea ul li.active, .darkTheme .selectArea .calender .selectMonthArea ul li.active {
  background: rgba(255, 255, 255, 0.6);
  color: #FFF;
}
.darkTheme .selectArea footer button {
  color: #c0c0c0;
}
.darkTheme .selectArea footer button:hover {
  color: #fafafa;
  background: rgba(255, 255, 255, 0.3);
}
.darkTheme .selectArea footer button:active {
  transition: 0s;
  background: rgba(255, 255, 255, 0.5);
}
.darkTheme .selectArea .calender .userSelectArea .datePicker_day:hover li {
  color: #a5a5a5;
}
.darkTheme .toggleSwitch:hover::before, .darkTheme .toggleSwitch:hover::after {
  color: #fafafa;
}
.darkTheme .toggleSwitch::before, .darkTheme .toggleSwitch::after {
  color: #777;
}
@keyframes showDatePicker {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hideDatePicker {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@media screen and (max-width: 500px) {
  .datePickerBox {
    width: 340px;
    height: 570px;
    flex-wrap: wrap;
  }
  .datePickerBox .showArea {
    width: 100%;
    height: 20px;
  }
  .datePickerBox .showArea .content {
    padding: 15px 0;
  }
  .datePickerBox .selectArea {
    top: 95px;
    width: 100%;
    height: 340px;
  }
  .datePickerBox .selectArea footer {
    right: 20px !important;
    bottom: 7px !important;
    font-size: 85% !important;
  }
  .datePickerBox .selectArea footer button {
    padding: 8px 10px !important;
  }
  .datePickerBox .toggleSwitch {
    bottom: 20px !important;
    transform: translateX(-50%) scale(0.8) !important;
  }
}