<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="https://www.youtube.com/iframe_api")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    
    title Hong-Yi Liou | Balance Sheet
body
    //- 背景背景
    .mainBackground
        .mainBackgroundImg

    //- 螢幕 Holder
    .screenHolderBasic

    //- 手機版的漢堡選單
    .burgerMenu
        span

    //- 讀取畫面
    .loading
        .loadingCircle
            .border
            p

    //- 右上角的光線、光輝
    .brightness
        .beams
            .beam1
            .beam2
            .beam3
            .beam4
            .beam5
            .beam6
        .shines
            .shine1
            .shine2
            .shine3
            .shine4
            .shine5
            .shine6
            .shine7
            .shine8
            .shine9
            .shine10


    //- Sidebar
    article.sidebar
        .topArea
            .photo
                label.editPhoto(title="修改照片")
                    input(type="file" accept="image/*" onchange="editPhoto(event)")
            input.name(type="text" spellcheck="false" value="User Name" onchange="onChangeUserName(value)")

        .sidebarContent
            ul
                //- li
                //-     p.home 首頁
                //- li
                //-     p.balanceSheet(onClick="loadDatePicker()") 收支表

        .userSettingBtn
        //- .changeWidthBtn

    //- Pages
    .page#loginPage.active
    .page#homePage
    .page#balanceSheetPage
    .page#linksPage
    .page#notesPage
    .page#musicPage
    .page#userSettingPage

    
    //- 彈窗彈窗(DatePicker載入用，勿關閉)
    .popupBox
    //- .popupBox_checkMessage
    //-     p 傳送成功！
    //-     .inputArea
    //-         label.userInput
    //-             p 連結名稱
    //-             input#popupInput1(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p 連結內容
    //-             input#popupInput2(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 1)")
    //-     .buttonArea
    //-         button.cancel Cancel
    //-         button.enter OK
    
    //- 新增背景音樂彈窗
    //- .popupBox_addMusic
    //-     .inputArea
    //-         label.userInput
    //-             p 歌曲名稱
    //-             input#popupInput_musicName(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p YouTube網址
    //-             input#popupInput_musicUrl(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p 封面圖片網址
    //-             input#popupInput_musicPhoto(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-     .buttonArea
    //-         button.cancel Cancel
    //-         button.enter Add


    //- 底端快速連結
    .fixBottomLinks
        ul
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li T
            //-     a
            //- li S
            //-     a
            //- li.pinterest
            //-     a
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li.github
            //-     a
            //- li S
            //-     a
            //- li.netflix
            //-     a

    //- 右側快速連結
    .fixRightLinks
        ul
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li T
            //-     a
            //- li S
            //-     a
            //- li.pinterest
            //-     a
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li.github
            //-     a
            //- li S
            //-     a
            //- li.netflix
            //-     a
        



    //- js
    script(type="text/javascript" src="js/common.js")
    script(type="text/javascript" src="js/main.js")

    //- 模組化練習
    //- script(type="module" src="js/testModule2.js")
    