<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    
    title Hong-Yi Liou | Balance Sheet
body

    select#year(name="year")
    select#month(name="month" onchange="onMonthChanged()")
    select#day(name="day")
    br


    br
    input(type="text" class="itemInput" placeholder="欄位一")
    br
    br
    input(type="text" class="itemInput" placeholder="欄位一")
    br
    br
    br
    input(type="number" class="amountInput" placeholder="欄位二")
    select(name="type" class="type")
        option(value="expenditure") 支出
        option(value="income") 收入
    br
    br
    input(type="number" class="amountInput" placeholder="欄位二")
    select(name="type" class="type")
        option(value="expenditure") 支出
        option(value="income") 收入
    br
    br

    button(onClick="postFunction1.onClickSendBtn()") 送出
    button(onClick="onClickResetBtn()") 重置

    br
    br
    //- a(href="https://docs.google.com/spreadsheets/d/1VCzkXIRBMjF9iv0Ca89xBLIzTSbYHMvXxxGq6lceusk/edit#gid=0" target="_blank") Balance Sheet 連結

    script(type="text/javascript" src="js/main.js")