<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    
    title Hong-Yi Liou | Balance Sheet
body
    .mainBackground
        .mainBackgroundImg
    .screenHolder
    .popupBox
    .burgerMenu
        span
    .brightness
        .beams
            .beam1
            .beam2
            .beam3
            .beam4
            .beam5
            .beam6
        .shines
            .shine1
            .shine2
            .shine3
            .shine4
            .shine5
            .shine6
            .shine7
            .shine8
            .shine9
            .shine10


    //- Sidebar
    article.sidebar
        .topArea
            .photo
            input.name(type="text" spellcheck="false" value="Hong")

        .sidebarContent
            ul
                //- li
                //-     p.home 首頁
                //- li
                //-     p.balanceSheet(onClick="loadDatePicker()") 收支表

        .userSettingBtn

    //- Pages
    .page#homePage.active
    .page#balanceSheetPage
    .page#userSettingPage


    //- js
    script(type="text/javascript" src="js/common.js")
    script(type="text/javascript" src="js/main.js")