<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="https://www.youtube.com/iframe_api")
    script(type="text/javascript" src="./assets/vue@2.6.14.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Pinyon+Script&display=swap")
    
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js")
    
    title Hong-Yi Liou | Balance Sheet
body
    //- 背景背景
    .mainBackground
        .mainBackgroundImg

    //- 螢幕 Holder
    .screenHolderBasic

    //- 手機版的漢堡選單
    .burgerMenu
        span

    //- 讀取畫面
    .loading
        .loadingCircle
            .border
            p

    //- 右上角的光線、光輝
    .brightness
        .beams
            .beam1
            .beam2
            .beam3
            .beam4
            .beam5
            .beam6
        .shines
            .shine1
            .shine2
            .shine3
            .shine4
            .shine5
            .shine6
            .shine7
            .shine8
            .shine9
            .shine10


    //- Sidebar
    article.sidebar
        .topArea
            .photo
                label.editPhoto(title="修改照片")
                    input(type="file" accept="image/*" onchange="editPhoto(event)")
            input.name(type="text" spellcheck="false" value="User Name" onchange="onChangeUserName(value)")

        .sidebarContent
            ul
                //- li
                //-     p.home 首頁
                //- li
                //-     p.balanceSheet(onClick="loadDatePicker()") 收支表

        .userSettingBtn
        //- .changeWidthBtn

    //- Pages
    .page#loginPage.active
    .page#homePage
    .page#balanceSheetPage
    .page#balanceSheetProPage
    .page#calendarPage
    .page#linksPage
    .page#notesPage
    .page#musicPage
    .page#userSettingPage

    
    //- 彈窗彈窗(DatePicker載入用，勿關閉)
    .popupBox
    //- .popupBox_checkMessage
    //-     p 傳送成功！
    //-     .inputArea
    //-         label.userInput
    //-             p 連結名稱
    //-             input#popupInput1(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p 連結內容
    //-             input#popupInput2(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 1)")
    //-     .buttonArea
    //-         button.cancel Cancel
    //-         button.enter OK
    
    //- 新增背景音樂彈窗
    //- .popupBox_addMusic
    //-     .inputArea
    //-         label.userInput
    //-             p 歌曲名稱
    //-             input#popupInput_musicName(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p YouTube網址
    //-             input#popupInput_musicUrl(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-         label.userInput
    //-             p 封面圖片網址
    //-             input#popupInput_musicPhoto(type="text" spellcheck="false" onblur="setPopupInputTitle(true, 0)")
    //-     .buttonArea
    //-         button.cancel Cancel
    //-         button.enter Add
    
    //- 行事曆編輯視窗
    section.showArea_calendar
        header
            p.week 星期六
        .content
            p.month Feb
            p.day 16
            p.year 2020
        .inputArea_calendar
            p.list 行事曆清單
            ul
                //- li(title="十元買早餐") 十元買早餐
                //- li(title="八元買豆干") 八元買豆干
                //- li(title="長度測試長度測試長度測試長度測試長度測試") 長度測試長度測試長度測試長度測試長度測試
                //- li(title="高度測試") 高度測試
                //- li(title="高度測試") 高度測試
                //- li(title="高度測試") 高度測試
            label
                p.list 標題
                input.calendar_summary(type="text" placeholder="請輸入標題")
            label
                p.list 描述
                textarea.calendar_description(type="text" placeholder="請輸入描述")
        footer
            button.delete(style="display: none;") Delete
            button.add Add
            button.saveAll Save All
        aside.sidebar_calendar
            button.delete 刪除 Delete
                .border
                .brightLight
                    .dot1
                    .dot2
                    .dot3
                    .dot4
                    .dot5
                    .dot6
                    .dot7
                    .dot8
                    .dot9
                    .dot10
                    .bean1
                    .bean2
                    .bean3
                    .bean4
                    .bean5
                    .bean6
            button.add 新增 Add
                .border
                .brightLight
                    .dot1
                    .dot2
                    .dot3
                    .dot4
                    .dot5
                    .dot6
                    .dot7
                    .dot8
                    .dot9
                    .dot10
                    .bean1
                    .bean2
                    .bean3
                    .bean4
                    .bean5
                    .bean6
            button.saveAll 全部儲存 Save All
                .border
                .brightLight
                    .dot1
                    .dot2
                    .dot3
                    .dot4
                    .dot5
                    .dot6
                    .dot7
                    .dot8
                    .dot9
                    .dot10
                    .bean1
                    .bean2
                    .bean3
                    .bean4
                    .bean5
                    .bean6



    //- 底端快速連結
    .fixBottomLinks
        ul
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li T
            //-     a
            //- li S
            //-     a
            //- li.pinterest
            //-     a
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li.github
            //-     a
            //- li S
            //-     a
            //- li.netflix
            //-     a

    //- 右側快速連結
    .fixRightLinks
        ul
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li T
            //-     a
            //- li S
            //-     a
            //- li.pinterest
            //-     a
            //- li.facebook
            //-     a
            //- li.gmail
            //-     a
            //- li.github
            //-     a
            //- li S
            //-     a
            //- li.netflix
            //-     a
        


    //- js
    //- script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js")
    script(type="text/javascript" src="js/common.js")
    script(type="text/javascript" src="js/main.js")
    script(async defer src="https://apis.google.com/js/api.js")

    //- 模組化練習
    //- script(type="module" src="js/testModule2.js")
    //- script(type="module" src="js/modules/index.module.js")
