article.balanceSheetBox
    //- 年月日隱藏欄位 不顯示 用來記錄使用者的選擇
    section.userInputArea_date
        //- section.userInput_year
        input#year.userInputHidden(type="text" readonly style="display: none;")
            //- input#year_show.input_show(type="text" readonly onclick="onDateClick({index: 0, type: 'userInput_year'})")
            //- ul.options
        //- section.userInput_month
        input#month.userInputHidden(type="text" readonly style="display: none;")
            //- input#month_show.input_show(type="text" readonly onclick="onDateClick({index: 1, type: 'userInput_month'})")
            //- ul.options
        //- section.userInput_day
        input#day.userInputHidden(type="text" readonly style="display: none;")
            //- input#day_show.input_show(type="text" readonly onclick="onDateClick({index: 2, type: 'userInput_day'})")
            //- ul.options


    section.showListArea
        .container
            header
                h4.today 本日
                input.showDate(type="text" readonly onClick="loadDatePicker()")
                button.editBtn(onClick="toggleBalanceSheetEdit()") 編輯
            ul
                li.topFix
                    p.item 項目
                    p.type 類別
                    p.amount 收支金額
                ol
                    //- li
                    //-     p.item 買G排
                    //-     p.type 支出
                    //-     p.amount -$50
                    //- li
                    //-     p.item 買卡包
                    //-     p.type 支出
                    //-     p.amount -$220
                    //- li
                    //-     p.item 早餐
                    //-     p.type 支出
                    //-     p.amount -$50
                li.total
                    .allTotal
                        span.monthTotal 合計： -
                        span.yearTotal 合計： -
                    //- p 合計： -$350
                    p

    //- 彈窗
    section.editPopup
        button.closeBtn(onClick="toggleBalanceSheetEdit()") ✖
        .userInputArea_itemList
            ul
                //- li
                //-     button.delBtn
                //-         i.fa.fa-close
                //-     input.item.itemInput(type="text" placeholder="收支項目")
                //-     input.amount.amountInput(type="number" pattern="\d*" placeholder="收支金額")
                //-     select.type(name="type")
                //-         option(value="expenditure") 支出
                //-         option(value="income") 收入

                //- li
                //-     button.delBtn
                //-         i.fa.fa-close
                //-     input.item.itemInput(type="text" placeholder="收支項目")
                //-     input.amount.amountInput(type="number" pattern="\d*" placeholder="收支金額")
                //-     select.type(name="type")
                //-         option(value="expenditure") 支出
                //-         option(value="income") 收入

        footer
            button.controlBtn.clearBtn(onClick="onClickResetBtn()" title="清除全部") Clear
            button.controlBtn(onClick="onClickAddBtn()" title="新增") Add
            button.controlBtn(onClick="onClickSendBtn()" title="送出") Send
            //- button.controlBtn(onClick="loadDatePicker()" title="日期選取器") DatePicker


        label.toggleSwitch(title="主題變更")
            input#toggleInput(type="checkbox")
            span.slider
        

    //- br
    //- br
    //- a(href="https://docs.google.com/spreadsheets/d/1VCzkXIRBMjF9iv0Ca89xBLIzTSbYHMvXxxGq6lceusk/edit#gid=0" target="_blank") Balance Sheet 連結 (hong)
    //- a(href="https://docs.google.com/spreadsheets/d/1qk0sCr8iWS-DSaWTx1lhe8x5JrgvN2Iwwd_zQkD3jUg/edit#gid=0" target="_blank") Balance Sheet 連結 (meng)

    //- br
    //- br