article.datePickerBox
    section.showArea
        header
            p.week 星期六
        .content
            p.month Feb
            p.day 16
            p.year 2020


    section.selectArea
        header
            //- 用於程式讀取，不顯示
            .displayNone
                input#datePicker_year(type="number")
                input#datePicker_month(type="number")
                input#datePicker_day(type="number")
            .datePicker_year
                p 2020 年
                .prev
                    i.fa.fa-chevron-left
                .next
                    i.fa.fa-chevron-right
            .datePicker_month
                p 2 月
                .prev
                    i.fa.fa-chevron-left
                .next
                    i.fa.fa-chevron-right

        .calender
            .userSelectArea.active
                .weekDays
                    p Sun
                    p Mon
                    p Tue
                    p Wes
                    p Thu
                    p Fri
                    p Sat
                ul.datePicker_day
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li
                    li

            .selectYearArea
                ul
                    li 2020
                    li 2021
                    li 2022
            .selectMonthArea
                ul
                    li 1 月
                    li 2 月
                    li 3 月
                    li 4 月
                    li 5 月
                    li 6 月
                    li 7 月
                    li 8 月
                    li 9 月
                    li 10 月
                    li 11 月
                    li 12 月

        footer
            button.todayBtn Today
            button.cancelBtn Cancel
            button.okBtn OK