article.homePageBox
    section.clock
        p.morningAfternoon
        p.hour
        p.minute
        p.second
        br
        span
        //- p.morningAfternoon 上午
        //- p.hour 9:
        //- p.minute 37
        //- p.second 59
        //- br
        //- span 2020年 2月 29日

        //- 鬧鐘
        //- .clockArea
        //-     button 設定鬧鐘
        //-     .clockText

        //- 首頁快速連結
        .fixHomeLinks
            ul
                //- li.facebook
                //-     a
                //- li.gmail
                //-     a
                //- li T
                //-     a
                //- li S
                //-     a
                //- li.pinterest
                //-     a