article.homePageBox
    section.clock
        p.morningAfternoon
        p.hour
        p.minute
        p.second
        br
        span
        //- p.morningAfternoon 上午
        //- p.hour 9:
        //- p.minute 37
        //- p.second 59
        //- br
        //- span 2020年 2月 29日

        //- 鬧鐘
        .alarmClockArea(onclick="alarmClock()")
            button 設定鬧鐘
            .clockText

        //- 首頁快速連結
        .fixHomeLinks
            //- button(onclick="onYouTubeIframeAPIReady('LHZXT6813VE')") 想見你
            //- button(onclick="onYouTubeIframeAPIReady('Z1eiALxC_9I')") 紅色高跟鞋
            //- button(onclick="stopYouTubePlayer()") 暫停
            ul
                //- li.facebook
                //-     a
                //- li.gmail
                //-     a
                //- li T
                //-     a
                //- li S
                //-     a
                //- li.pinterest
                //-     a