article.homePageBox
    section.clock
        p.morningAfternoon 上午
        p.hour 9:
        p.minute 37
        p.second 59
        br
        span 2020年 2月 29日

        //- 首頁快速連結
        .fixHomeLinks
            ul
                //- li.facebook
                //-     a
                //- li.gmail
                //-     a
                //- li T
                //-     a
                //- li S
                //-     a
                //- li.pinterest
                //-     a
                //- li.facebook
                //-     a
                //- li.gmail
                //-     a
                //- li.github
                //-     a
                //- li S
                //-     a
                //- li.netflix
                //-     a