article.loginPageBox
    section.userArea
        label.userInput
            p 使用者帳號
            input.acn(type="text" spellcheck="false" onblur="setloginInputTitle(true, 0)")
        label.userInput
            p 使用者密碼
            input.psw(type="password" onblur="setloginInputTitle(true, 1)")

        label.remember
            p 記住我
            input.rememberChecked(type="checkbox")
            .checkHolder

        button.loginBtn(onclick="onLoginBtn()") Log In

        

    



//- 1. 登入時，在 localhost 記下最後登入時間與帳號密碼 (若有勾選「記住我」)。

//- 2. 若沒登出，下次進入網站時讀取最後登入時間間隔 > 8小時則跳至登入畫面 (需重新登入)。

//- 3. 若有勾選「記住我」，localhost 記下帳號密碼狀態並自動填入欄位。

//- 4. 登出時，清空 localhost 除 userSettingTheme、帳號密碼 (若有勾選「記住我」) 以外的所有 data。