article.musicPageBox
    .controler
        .albumPhoto
        .buttons
            button.pause(onclick="pauseYouTubePlayer()")
                i.fa.fa-pause
            button.play(onclick="playYouTubePlayer()")
                i.fa.fa-play
            button(onclick="stopYouTubePlayer()")
                i.fa.fa-stop
            button.unMute(onclick="muteYouTubePlayer()")
                i.fa.fa-volume-up
            button.mute(onclick="unMuteYouTubePlayer()")
                i.fa.fa-volume-off
            .volumebar(title="音量")
                .barHolder

        .viewer(draggable="false")
            p 正在播放：
            .songName
                //- span 想見你
                span
            .visual

        section.setting
            label(for="showMusicType_list")
                input(type="radio" id="showMusicType_list" name="showMusicsType" value="list" checked)
                .selectedHolder
                p 清單版型
            label(for="showMusicType_album")
                input(type="radio" id="showMusicType_album" name="showMusicsType" value="album")
                .selectedHolder
                p 唱片版型


    //- 唱片版型
    section.albumList
        ul
            //- li
            //-     .album(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();")
            //-         .albumBg
            //-         .albumPhoto
            //-     .setting
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //-     p 想見你
            //- li
            //-     .album
            //-         .albumBg
            //-         .albumPhoto
            //-     .setting
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //-     p 想見你
            //- li
            //-     .album
            //-         .albumBg
            //-         .albumPhoto
            //-     .setting
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //-     p 想見你


    //- 清單版型
    section.playList
        ul
            //- li
            //-     .list
            //-         .albumPhoto
            //-         p 想見你想見你想見你想見你想見你想見你想見你想
            //-     .setting
            //-         button.play(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();" title="播放")
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //- li
            //-     .list
            //-         .albumPhoto
            //-         p 想見你
            //-     .setting
            //-         button.play(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();" title="播放")
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //- li
            //-     .list
            //-         .albumPhoto
            //-         p 想見你
            //-     .setting
            //-         button.play(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();" title="播放")
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //- li
            //-     .list
            //-         .albumPhoto
            //-         p 想見你
            //-     .setting
            //-         button.play(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();" title="播放")
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //- li
            //-     .list
            //-         .albumPhoto
            //-         p 想見你
            //-     .setting
            //-         button.play(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();" title="播放")
            //-         button.edit(title="編輯")
            //-         button.delete(title="刪除")
            //- li
            //-     .list(style="width: 100%;")
            //-         p(style="width: 100%; text-align: center;") 尚無歌曲

        .rightArea
            .albumBox
                //- .album.visableLeft
                //- .album.left
                //- .album.center
                //- .album.right
                //- .album.visableRight
                //- .album
                //- .album
                //- .album
                //- .album
                //- .album
                //- .album
                //- .album

            p 想見你

            .buttonArea
                button.prev 上一首
                button.play 播放
                button.next 下一首