article.musicPageBox
    section.albumList
        ul
            li
                .album(onclick="onYouTubeIframeAPIReady('LHZXT6813VE')")
                    .albumPhoto
                p 想見你
            li
                .album
                    .albumPhoto
                p 想見你
            li
                .album
                    .albumPhoto
                p 想見你