article.musicPageBox
    .controler
        .alboumPhoto
        .buttons
            button.pause(onclick="pauseYouTubePlayer()")
                i.fa.fa-pause
            button.play(onclick="playYouTubePlayer()")
                i.fa.fa-play
            button(onclick="stopYouTubePlayer()")
                i.fa.fa-stop
            button.unMute(onclick="muteYouTubePlayer()")
                i.fa.fa-volume-up
            button.mute(onclick="unMuteYouTubePlayer()")
                i.fa.fa-volume-off
            .volumebar
                .barHolder
        .viewer
            p 正在播放：
            .songName
                span 想見你
            .visual
        .setting


    //- 唱片版型
    section.albumList
        ul
            li
                .album(onclick="onYouTubeIframeAPIReady('LHZXT6813VE'); playYouTubePlayer();")
                    .albumBg
                    .albumPhoto
                .setting
                    button.edit(title="編輯")
                    button.delete(title="刪除")
                p 想見你
            li
                .album
                    .albumBg
                    .albumPhoto
                .setting
                    button.edit(title="編輯")
                    button.delete(title="刪除")
                p 想見你
            li
                .album
                    .albumBg
                    .albumPhoto
                .setting
                    button.edit(title="編輯")
                    button.delete(title="刪除")
                p 想見你