article.notesPageBox
    section.noteList
        ul
            li
                .book
                    .firstPage
                        p.bookTitle 筆記筆記
                    .backPages
                p.noteTitle 筆記筆記
            li
                .book
                    .firstPage
                        p.bookTitle 倚天屠龍記
                    .backPages
                p.noteTitle 倚天屠龍記倚天屠龍記倚天屠龍記倚天屠龍記
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book
                    .firstPage
                        p.bookTitle 一些秘密
                    .backPages
                p.noteTitle 一些秘密
            li
                .book.addNew(title="新增一本新的記事本")
                    .firstPage
                        p.bookTitle ？？？
                    .backPages
                p.noteTitle.addNew 新增記事本