.userSettingPageBox
    .container
        h1 設定
        hr
        //- .fixNav
        //-     ul
        //-         li.outerward 外觀
        //-         li.extra 其他
        .content
            .settingProject
                h4 主題
                    span (Theme)
                label.toggleSwitch
                    p Light
                    input#toggleInput(type="checkbox" checked)
                    span.slider
                    p Dark